.footer {
  background: #333;
  color: #fff;
  overflow: hidden;
}

.footer.product-container {
  padding-bottom: 0;
}

.footer__list1,
.footer__list2,
.footer__social,
.footer__legal {
  width: 100%;
  height: 100%;
}

@media (min-width: 992px) {
  .footer__logo-container {
    width: 100%;
    height: 100%;
  }
}

.footer__logo {
  height: 42px;
}

.footer .list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer a {
  text-decoration: none;
  font-size: 1.6rem;
  padding: 0 0.5rem;
  display: inline-block;
}

.footer a:hover {
  color: #ffcf25;
}

.footer__block {
  margin-bottom: 3rem;
}

a.footer__icon {
  border: 2px solid #fff;
  padding: 1.3rem;
  display: inline-block;
  line-height: 2rem;
  margin: 0 0.75rem;
  text-decoration: none;
  outline: none;
}

.footer__icon:first-of-type {
  margin-left: 0;
}
.footer__icon.footer--twitter:focus,
.footer__icon.footer--twitter:active,
.footer__icon.footer--twitter:hover {
  color: #1da1f2;
  border: 2px solid #1da1f2;
}

.footer__icon.footer--facebook:focus,
.footer__icon.footer--facebook:active,
.footer__icon.footer--facebook:hover {
  color: #4267B2;
  border: 2px solid #4267B2;
}

.footer__icon.footer--instagram:focus,
.footer__icon.footer--instagram:active,
.footer__icon.footer--instagram:hover {
  color: #E1306C;
  border: 2px solid #E1306C;
}

.footerform {
  position: relative;
}
.footerform__button {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 4.5rem;
  padding: 0;
  width: 4.5rem;
}

.footerform__button .icon {
  display: inline-block;
  font-size: 2rem;
  padding-top: 1rem;
}

@media screen and (max-width: 768px) {
  a.footer__legal-item,
  .footer__legal-item {
    display: block;
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .footer__legal {
    display: flex;
    vertical-align: middle;
    padding: 2rem 0;
    border-top: 0.1rem solid #2b2b2b;
    margin-top: 3rem;
  }

  .footer__legal-right,
  .footer__legal-left {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .footer__legal p {
    margin-bottom: 0;
  }

  .footer__legal-right {
    margin-left: auto;
    justify-content: flex-end;
    display: flex;
  }

  .footer__legal-item {
    display: inline-block;
    margin: 0 1rem;
  }

  .footer__logo {
    height: 60px;
  }
}
